body {
  font-family: sans-serif;
  color: aliceblue;
  background-color: rgba(17, 16, 16, 0.603);
}

h1 {
  font-family: "Times New Roman";
  font-size: 40px;
  background-color: rgb(83, 97, 32);
  color: rgb(0, 0, 0);
}

h2 {
  color: beige;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  font-size: 16px;
  text-align: center;
}

.programing_img {
  text-align: center;
}

.cabezera {
  text-align: center;
}
